.navbar{
    background-color: var(--primary-color);
    display: flex;
    padding: 15px ;
    justify-content: end;
    align-items: center;
}

.links{
    display: flex;
    gap:10px;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
}